

.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.links{

    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a{

    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.logo img{
    position: absolute; 
    left: 0; 
    top: 0;
    height: 80px;
    width: 200px;
    
}