footer{
    background-color: black;
    padding: 0px 0;
    color: #fff;
  }

  footer h1 {
    margin-bottom: 30px;
    color: #01badf;
    font-weight: 800;
    font-style: italic;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
  }

  footer .box{
    background-color: black;
    padding: 15px 20px;
    border-radius: 5px;
  }

  footer .box12{
    padding: 15px 20px;
    border-radius: 5px;
  }

  footer .img i {
    font-size: 20px;
    margin: 5px;
  }
  footer .img span {
    margin-top: 5px;
  }
  footer p {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  footer h2 {
    margin-bottom: 20px;
  }

  footer li {
    margin-bottom: 10px;
    opacity: 0.5;
 }

 footer .box12 a{
    text-decoration: none;
    color: white;
}
  


 footer .containerGrid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }

